.CreateTodoButton {
  background-color: #61dafa;
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;

  transform: rotate(0deg);
  transition: 0.3s ease;
}
.CreateTodoButton.openModal {
  z-index: 1;
  background-color: #d63a1e;
  box-shadow: 0px 5px 25px rgba(199, 68, 7, 0.5);
  transition: 0.3s ease;
  transform: rotate(45deg);
}
.CreateTodoButton.openModal:hover {
  transform: rotate(315deg);
}
.CreateTodoButton:hover:not(.openModal) {
  transform: rotate(270deg);
}
